.app{
   height: 100vh;
   display: flex;
   background-color: #020230;
   color: white;
}

.main{
    width: 50%;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #020230), url(assets/space.jpg) center;
    align-items: center;
    justify-content: center;
    
}
.rocket{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.level{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

